<%= simple_form_for(@matter) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.collection_select :type_id, Type.all, :id, :matterType, {prompt: "Choose a Matter Type"} %>
    <%= f.input :party %>
    <%= f.input :respondent%>
    <%= f.input :dateIncident %>
    <%= f.input :dateExpiry %>
    <%= f.input :docsReceived %>
    <%= f.input :cost %>
    <%= f.collection_select :status_id, Status.all, :id, :statusName, {prompt: "Choose Status"} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
